* {
    bg-col:  #e1e2e7;
    bg-col-light: #a1a6c5;
    border-col: #2e7de9;
    selected-col: #e9e9ed;
    blue: #2e7de9;
    fg-col: #3760bf;
    fg-col2: #9854f1;
    grey: #3760bf;
    width: 540;
}
