/* Some variables for quick configuration - play with numbers to find a perfect match for your setup */
:root {
  --sidebar-width: 50px;
  --panel-width: calc(100vw - 66px);
  --panel-hide-offset: -30px;
  --opacity-when-hidden: 0;
}

/* Auto-hide address bar */
#navigator-toolbox {
  position: fixed !important;
  /* Comment out following line to get 'slide-page-down' reveal, like in F11 fullscreen mode */
  /* display: block; */
  transition: margin-top 82ms 33ms linear, opacity 82ms 33ms linear !important;
  z-index: 1;
  opacity: 1;
  /* Spacing on the left for sidebar */
  margin-left: var(--sidebar-width);
  /* Disabled the borders, as the bottom one seemed to have unwanted top padding sometimes */
  border: none !important;
  background-color: whitesmoke;
}

#navigator-toolbox,
#navigator-toolbox > * {
  /* Reduced width for panel in order to not overflow the screen on the right side */
  width: var(--panel-width) !important;
}

#navigator-toolbox:not(:focus-within):not(:hover) {
  margin-top: var(--panel-hide-offset);
  opacity: var(--opacity-when-hidden);
}

/* Disable auto-hiding when in 'customize' mode */
:root[customizing] #navigator-toolbox {
  position: relative !important;
  opacity: 1 !important;
  margin-top: 0px;
}
