.applications{
	background-color: $background;
	color: $foreground;
	border-radius: 12px;
	margin: .5rem;
	padding: 0.5rem;
	font-family: IosevkaTerm NFM;
	font-size: 5rem;
}

.app-discord {
	font-size: 2.5rem;
}
