$background: #c4c8da;
$background-alt: #e1e2e7;
$background-alt2: #a1a6c5;
$foreground: #3760bf;
$red: #f52a65;
$yellow: #8c6c3e;
$orange: #b15c00;
$green: #587539;
$blue: #2e7de9;
$magenta: #9854f1;
$cyan: #007197;
