$radius: 20px;

$f-family: IosevkaTerm NFM, Noto Sans SC, Noto Sans TC;

// $f-size-s: 16px;
// $f-size-sm: 20px;
// $f-size-m: 24px;
// $f-size-l: 32px;
// $f-size-xl: 48px;

$f-size-s: 12px;
$f-size-sm: 14px;
$f-size-m: 18px;
$f-size-l: 24px;
$f-size-xl: 42px;

@import "colors/scheme"

*{
    all: unset;
    font-family: $f-family;
    border-radius: 0px;
}

/** General **/
.bar_class {
    background-color: $background;
    border-radius: $radius;
}
.module {
    margin: 0px 0px 0px 0px;
    border-radius: $radius;
}

/** tooltip!! **/
tooltip {
    all: unset;
}

// tooltip.background {
//     background-color: $background;
//     font-size: $f-size-s;
//     color: $foreground;
// }
//
// tooltip label {
//     margin: 8px;
// }


/** Widgets **/

.clock_time_sep {
    font-size: $f-size-sm;
    color: $foreground;
    margin: 0px 4px 0px 4px;
}
.clock_time_class, .clock_minute_class {
    font-size: $f-size-m;
}
.clock_date_class {
    font-size: $f-size-m;
    margin: 0px 8px 0px 8px;
    color: $magenta;
}
.clock_minute_class {
    margin: 0px 8px 0px 0px;
    color: $foreground;
}

.clock_time_class {
    color: $foreground;
    font-weight: 900;
    margin: 0px 0px 0px 8px;
}


.membar {
    color: $yellow;
    background-color: $gray;
    border-radius: $radius;
}
.batbar {
    color: $green;
    background-color: $gray;
    border-radius: $radius;
}

.volbar trough highlight {
    // background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
    background-color: $green;
    border-radius: $radius;
}
.volume_icon {
    font-size: $f-size-l;
    color: $foreground;
    margin: 0px 8px 0px 8px;
}

.iconmem {
    // color: $yellow;
    color: rgba(#ffffff, 0);
}
.iconbat {
    // color: $green;
    color: rgba(#ffffff, 0);
}
.iconbat, .iconmem {
    font-size: $f-size-s;
    margin: 0px 6px 0px 6px;
}

.separ {
    color: $gray;
    font-weight: bold;
    font-size: $f-size-m;
    margin: 0px 8px 0px 8px;
}

.mem_module {
    background-color: $background;
    border-radius: $radius;
    margin: 0px 8px 0px 8px;
}
.bat_module {
    background-color: $background;
    border-radius: $radius;
    margin: 0px 8px 0px 8px;
}


scale trough {
    all: unset;
    background-color: $gray;
    border-radius: $radius;
    min-height: 8px;
    min-width: 70px;
    margin: 0px 8px 0px 0px;
}

.power-menu {
    font-size: $f-size-l;
    margin: 0px 8px 0px 8px;
    padding: 0;
}

.power-reveal {
    margin-right: 16px;
}

.power-off-btn {
    color: $red;
}

.power-reboot-btn {
    color: $yellow;
}

.power-lock-btn {
    color: $blue;
}

.prompt {
    color: $foreground;
    background-color: $background;
    border: 2px solid;
    border-color: $foreground;
    border-radius: $radius;
}

.prompt-button {
    font-size: $f-size-l;
}

.prompt-button-yes {
    color: $green;
}

.prompt-button-no {
    color: $red;
}

.workspaces {
    font-size: $f-size-sm;
    margin: 6px 0px 0px 0px;
    color: $gray;
}

.workspaces button {
    margin: 0px -4px 0px 0px;
}

.workspaces button.focused {
    color: $foreground;
}

.workspaces button.occupied {
    color: $red;
}

.workspaces button.urgent {
    color: $yellow;
}

.workspaces button:hover {
    color: $blue;
}

// .song_cover_art {
//     background-size: cover;	
//     background-position: center;
//     min-height: 16px;
//     min-width: 16px;
//     margin: 0px 16px 0px 0px;
//     border-radius: $radius;
// }

.song_cover_art {
    color: $foreground;
    font-size: $f-size-m;
    margin: 2px 8px 0px 0px;
}

.song {
    color: $foreground;
    font-size : $f-size-sm;
    font-weight : bold;
    margin : 0px 4px 0px 0px;
}

.song_btn_play {
    color: $foreground;
    font-size: $f-size-sm;
    margin : 2px 8px 0px 8px;
}

.song_btn_prev, .song_btn_next {
    color: $foreground;
    font-size : $f-size-m;
    font-weight: bold;
    margin : 2px 0px 0px 0px;
}

.song_btn_play:hover,
.song_btn_prev:hover,
.song_btn_next:hover, {
    color: $blue;
}


// Calendar
.cal {
    background-color: $background;
    border-radius: $radius;
    font-family: $f-family;
    font-size: $f-size-m;
    font-weight: normal;

    .cal-in {
	border-radius: $radius;
	border: 2px solid;
	border-color: $foreground;
	padding: 0px 8px 0px 8px;
	color: $foreground;

	.cal {
	    &.highlight {
		padding: 16px;
	    }

	    padding: 5px 5px 5px 5px;
	    margin-left: 10px;
	}
    }
}

calender {
    color: $foreground;
}
calendar:selected {
    color: $magenta;
    font-weight: bold;
}

calendar.header {
    color: $cyan;
    font-weight: bold;
}

calendar.button {
    color: $foreground;
}

calendar.highlight {
    color: $green;
    font-weight: bold;
}

calendar:indeterminate {
    color: $gray;
}


.sys_sep {
    color: $gray;
    font-size: $f-size-sm;
    margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub, .sys_text_mem_sub {
    font-size: $f-size-sm;
    color: $foreground;
    margin: 5px 0px 0px 25px;
}
.sys_text_bat, .sys_text_mem {
    font-size: $f-size-m;
    font-weight: bold;
    margin: 14px 0px 0px 25px;
}
.sys_icon_bat, .sys_icon_mem {
    font-size: $f-size-xl;
    margin: 30px;
}
.sys_win {
    background-color: $background;
    border-radius: $radius;
    border: 2px solid;
    border-color: $foreground;
}
.sys_bat {
    color: $green;
    background-color: $gray;
    border-radius: $radius;
}
.sys_mem {
    color: $yellow;
    background-color: $gray;
    border-radius: $radius;
}
.sys_icon_bat, .sys_text_bat {
    color: $green;
}
.sys_icon_mem, .sys_text_mem {
    color: $yellow;
}
.sys_bat_box {
    border-radius: $radius;
    margin: 15px 10px 10px 20px;
}
.sys_mem_box {
    border-radius: $radius;
    margin: 10px 10px 15px 20px;
}


.music_pop {
    background-color: $background;
    border-radius: $radius;
    border: 2px solid;
    border-color: $foreground;
}
.music_cover_art {
    background-size: cover;
    background-position: center;
    min-height: 100px;
    // box-shadow: 5px 5px 5px 5px #06060b;
    min-width: 170px;
    margin: 20px;
    border-radius: $radius;
}

.music {
    color: $foreground;
    font-size : 20px;
    font-weight : bold;
    margin : 20px 0px 0px -15px;
}

.music_artist {
    color: $foreground;
    font-size : $f-size-sm;
    font-weight : normal;
    margin : 0px 0px 0px 0px;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
    font-family: JetBrainsMono;
}
.music_btn_prev {
    color: $foreground;
    font-size : $f-size-l;
    font-weight : normal;
    margin: 0px 0px 0px 0px;
}
.music_btn_play {
    color: $foreground;
    font-size : 30px;
    font-weight : normal;
    margin: 2px 0px 0px 0px;
}
.music_btn_next {
    color: $foreground;
    font-size : $f-size-l;
    font-weight : normal;
    margin: 0px 0px 0px 0px;
}

.music_btn_play:hover,
.music_btn_next:hover,
.music_btn_prev:hover {
    color: $blue;
}

.music_bar scale trough highlight {
    all: unset;
    // background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
    background-color: $green;
    border-radius: $radius;
}
.music_bar scale trough {
    all: unset;
    background-color: $gray;
    // box-shadow: 0 6px 5px 2px #06060b;
    border-radius: $radius;
    min-height: 8px;
    min-width: 190px;
    margin : -10px 10px 20px 0px;
}

.audio-box {
    background-color: $background;
    border-radius: $radius;
    border: 2px solid;
    border-color: $foreground;
}
.speaker_icon {
    background-size: cover;
    background-image: url('images/speaker.png');
    background-position: center;
    min-height: 70px;
    min-width: 75px;
    margin: 10px 20px 5px 20px;
    border-radius: $radius;
}

.speaker_text {
    color: $foreground;
    font-size : $f-size-m;
    font-weight : bold;
    margin: 20px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
    all: unset;
    // background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
    background-color: $green;
    border-radius: $radius;
}
.speaker_bar scale trough {
    all: unset;
    background-color: $gray;
    // box-shadow: 0 6px 5px 2px #06060b;
    border-radius: $radius;
    min-height: 13px;
    min-width: 120px;
    margin : 0px 0px 5px 0px;
}


.audio_sep {
    color: $gray;
    font-size: $f-size-s;
    margin : 0px 0px 0px 0px;
}
